<section id="activities" class="xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <h2 class="xs-line-title">O que fazemos?</h2>
                <h2 class="xs-title">Nossas Atividades</h2>
            </div><!-- .xs-heading-title END -->
        </div>

        <div class="row">

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Eu e o outro_1.jpg" alt="">
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Eu e o Outro</a>
                        <p>Texto sobre atividade.</p>
                        <a href="#gallery-1" class="btn btn-gallery">
                            Ver mais
                        </a>
                        <div id="gallery-1" class="hidden">
                            <a href="assets/images/event/Eu e o outro_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/event/Eu e o outro_2.jpg">Imagem 2</a>
                            <a href="assets/images/event/Eu e o outro_3.jpg">Imagem 3</a>
                            <a href="assets/images/event/Eu e o outro_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Ler e Escrever_1.jpg" alt="">
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Ler e Escrever</a>
                        <p>Texto sobre atividade.</p>
                        <a href="#gallery-2" class="btn btn-gallery">
                            Ver mais
                        </a>
                        <div id="gallery-2" class="hidden">
                            <a href="assets/images/event/Ler e Escrever_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/event/Ler e Escrever_2.jpg">Imagem 2</a>
                            <a href="assets/images/event/Ler e Escrever_3.jpg">Imagem 3</a>
                            <a href="assets/images/event/Ler e Escrever_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->


            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Orientacao_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2018</span>
                            <span class="entry-date-month">jan</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Orientação</a>
                        <p>Texto sobre atividade.</p>
                        <a href="#gallery-3" class="btn btn-gallery">
                            Ver mais
                        </a>
                        <div id="gallery-3" class="hidden">
                            <a href="assets/images/event/Orientacao_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/event/Orientacao_2.jpg">Imagem 2</a>
                            <a href="assets/images/event/Orientacao_3.jpg">Imagem 3</a>
                            <a href="assets/images/event/Orientacao_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Piscina_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2018</span>
                            <span class="entry-date-month">jun</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="">Piscina</a>
                        <p>Texto sobre atividade.</p>
                        <a href="#gallery-4" class="btn btn-gallery">
                            Ver mais
                        </a>
                        <div id="gallery-4" class="hidden">
                            <a href="assets/images/event/Piscina_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/event/Piscina_2.jpg">Imagem 2</a>
                            <a href="assets/images/event/Piscina_3.jpg">Imagem 3</a>
                            <a href="assets/images/event/Piscina_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->


            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Ginastica_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2018</span>
                                <span class="entry-date-month">nov</span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Ginástica</a>
                            <p>Texto sobre atividade.</p>
                            <a href="#gallery-5" class="btn btn-gallery">
                                Ver mais
                            </a>
                            <div id="gallery-5" class="hidden">
                                <a href="assets/images/event/Ginastica_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Ginastica_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Ginastica_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Ginastica_4.jpg">Imagem 4</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Valor de Moeda_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2018</span>
                                    <span class="entry-date-month">jan</span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Valor de Moeda</a>
                                <p>Texto sobre atividade.</p>
                                <a href="#gallery-6" class="btn btn-gallery">
                                    Ver mais
                               </a>
                            <div id="gallery-6" class="hidden">
                                <a href="assets/images/event/Valor de Moeda_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Valor de Moeda_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Valor de Moeda_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Valor de Moeda_4.jpg">Imagem 4</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Multiartes_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2018</span>
                                    <span class="entry-date-month">ago</span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Multiartes</a>
                                <p>Texto sobre atividade.</p>
                                <a href="#gallery-7" class="btn btn-gallery">
                                    Ver mais
                               </a>
                            <div id="gallery-7" class="hidden">
                                <a href="assets/images/event/Multiartes_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Multiartes_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Multiartes_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Multiartes_4.jpg">Imagem 4</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

           <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Culinaria_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2018</span>
                                <span class="entry-date-month">ago</span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Culinária</a>
                            <p>Texto sobre atividade.</p>
                                <a href="#gallery-8" class="btn btn-gallery">
                                    Ver mais
                               </a>
                            <div id="gallery-8" class="hidden">
                                <a href="assets/images/event/Culinaria_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Culinaria_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Culinaria_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Culinaria_4.jpg">Imagem 4</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                </div>
          </div><!-- .xs-single-event END -->

          <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Horta Pedagogica_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2018</span>
                                <span class="entry-date-month">mai</span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Horta Pedagógica</a>
                            <p>Texto sobre atividade.</p>
                                <a href="#gallery-9" class="btn btn-gallery">
                                    Ver mais
                               </a>
                            <div id="gallery-9" class="hidden">
                                <a href="assets/images/event/Horta Pedagogica_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Horta Pedagogica_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Horta Pedagogica_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Horta Pedagogica_4.jpg">Imagem 4</a>
                            </div>
                    </div><!-- .xs-event-content END -->
                </div>
          </div><!-- .xs-single-event END -->
        </div>

        <div>
             <p>Dentro das actividades realizadas de destacar também as atividades organizadas através das nossas parcerias.</p>
        </div>


        <div><!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides">
                <div class="numbertext">1 / 10</div>
                <img class="myslides-photo" src="assets/images/event/Outras Atividades_10.png">
                <div class="text">Outras Atividades</div>
                </div>
            
                <div class="mySlides">
                <div class="numbertext">2 / 10</div>
                <img class="myslides-photo" src="assets/images/event/Outras Atividades_5.jpg">
                <div class="text">Outras Atividades</div>
                </div>
            
                <div class="mySlides">
                <div class="numbertext">3 / 10</div>
                <img class="myslides-photo" src="assets/images/event/Outras Atividades_4.jpg">
                <div class="text">Outras Atividades</div>
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 10</div>
                    <img class="myslides-photo" src="assets/images/event/Outras Atividades_3.jpg">
                    <div class="text">Outras Atividades</div>
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 10</div>
                    <img class="myslides-photo" src="assets/images/event/Outras Atividades_2.jpg">
                    <div class="text">Outras Atividades</div>
                </div>
                
                <div class="mySlides">
                    <div class="numbertext">6 / 10</div>
                    <img class="myslides-photo" src="assets/images/event/Outras Atividades_1.jpg">
                    <div class="text">Outras Atividades</div>
                </div>

                <div class="mySlides">
                    <div class="numbertext">7 / 10</div>
                    <img class="myslides-photo" src="assets/images/event/Outras Atividades_7.png">
                    <div class="text">Outras Atividades</div>
                </div>

                <div class="mySlides">
                    <div class="numbertext">8 / 10</div>
                    <img class="myslides-photo" src="assets/images/event/Outras Atividades_8.png">
                    <div class="text">Outras Atividades</div>
                </div>
                
                <div class="mySlides">
                    <div class="numbertext">9 / 10</div>
                    <img class="myslides-photo" src="assets/images/event/Outras Atividades_9.png">
                    <div class="text">Outras Atividades</div>
                </div>

                <div class="mySlides">
                    <div class="numbertext">10 / 10</div>
                    <img class="myslides-photo" src="assets/images/event/Outras Atividades_6.jpg">
                    <div class="text">Outras Atividades</div>
                </div>

            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            
            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(10)"></span> 
                <span class="dot" onclick="currentSlide(11)"></span> 
                <span class="dot" onclick="currentSlide(12)"></span> 
                <span class="dot" onclick="currentSlide(13)"></span> 
                <span class="dot" onclick="currentSlide(14)"></span> 
                <span class="dot" onclick="currentSlide(15)"></span> 
                <span class="dot" onclick="currentSlide(16)"></span> 
                <span class="dot" onclick="currentSlide(17)"></span> 
                <span class="dot" onclick="currentSlide(18)"></span> 
                <span class="dot" onclick="currentSlide(19)"></span> 
            </div>

        </div> <!-- Slideshow container END-->
    </div><!-- .container end -->
</section>