<section id="partners" class="xs-partner-section" style="background-image: url('assets/images/map.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="xs-partner-content">
                    <div class="xs-heading xs-mb-40">
                        <h2 class="xs-line-title">Com quem colaboramos?</h2>
                        <h2 class="xs-mb-0 xs-title">Os nossos <span>parceiros</span></h2>
                    </div>
                    <p style="margin-bottom:0px;">Colaboramos com várias iniciativas que nos ajudam a oferecer melhores condições e experiências para os nossos utentes. As nossas parcerias com:</p>
                    <ul class="partnerlist">
                            <li>ADILO Cabeleireiro</li>
                            <li><a href="https://www.auchan.pt/Frontoffice/">Auchan</a></li>
                            <li><a href="http://www.agoraporto.pt/?p">Ágora Cultura e Desporto (ex Porto Lazer)</a></li>
                            <li><a href="https://www.aepm.pt/" taget="_blank">Associação Equiterapêutica Porto Matosinhos AEPM</a></li>
                            <li><a href="https://www.casadamusica.com/" target="_blank">Casa da Música</a></li>
                            <li><a href="https://www.paroquiadaajuda.org/" target="_blank">Centro Social e Paroquial de Nossa Senhora da Ajuda</a></li>
                            <li><a href="http://www.cm-porto.pt/rede-de-centros-de-educacao-ambiental" target="_blank">Centros de Educação Ambiental da Cidade do Porto</a></li>
                            <li><a href="http://www.fluvial.pt/">Clube Fluvial Portuense</a></li>
                            <li><a href="https://www.decsis.eu/" target="_blank">DECSIS – informática</a></li>
                            <li><a href="https://eptpporto.com/" target="_blank">Escola Profissional de tecnologia Psicossocial do Porto</a></li>
                            <li><a href="https://www.ess.ipp.pt/cursos/licenciatura/100001485" target="_blank">Escola Superior de Saúde</a></li>
                            <li><a href="https://www.cupertino.pt/fundacao-cupertino-de-miranda/" target="_blank">Fundação Cupertino de Miranda</a></li>
                            <li><a href="https://www.serralves.pt/" target="_blank">Fundação de Serralves</a></li>
                            <li><a href="https://www.lipor.pt/en/">Lipor</a></li>
                            <li><a href="https://www.facebook.com/pages/category/Beauty-Salon/Marlene-Fonseca-cabeleireiros-est%C3%A9tica-407521589728155/">Marlene Fonseca – Cabeleireiro</a></li>
                            <li><a href="https://www.facebook.com/pages/category/Hair-Salon/Sal%C3%A3o-Marilu-283363798462660/" target="_blank">Salão Marilu - Cabeleireiro</a></li>
                            <li>Universidade Católica (<a href="http://www.udip.porto.ucp.pt/pt/caso/" target="_blank">CASO</a> e <a href="http://www.fep.porto.ucp.pt/" target="_blank">Faculdade de Psicologia</a>)</li>
                            <li><a href="http://www.aldoarfoznevogilde.pt/" target="_blank">União das freguesias de Aldoar, Foz do Douro e Nevogilde</a></li>
                            <li><a href="http://www.uf-lordeloouromassarelos.pt/" target="_blank">União das freguesias de Lordelo do Ouro e Massarelos</a></li>         
                           </ul>
                           <p>são plenas de sucesso e vividas com entusiasmo.</p>
                    <a href="/#joinus" class="btn btn-primary  xs-mb-60">
                        Junta-te a Nós
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <ul class="fundpress-partners">
                    <li><a href="https://www.casadamusica.com/" target="_blank"><img src="assets/images/partner/casadamusica.png" alt=""></a></li>
                    <li><a href="http://www.cm-porto.pt/rede-de-centros-de-educacao-ambiental" target="_blank"><img src="assets/images/partner/cea.png" alt=""></a></li>
                    <li><a href="https://www.cupertino.pt/fundacao-cupertino-de-miranda/" target="_blank"><img src="assets/images/partner/cupertinomiranda.jpg" alt=""></a></li>
                    <li><a href="https://www.decsis.eu/" target="_blank"><img src="assets/images/partner/decsis.png" alt=""></a></li>
                    <li><a href="https://eptpporto.com/" target="_blank"><img src="assets/images/partner/EscolaProfissional.jpg" alt=""></a></li>
                    <li><a href="https://www.ess.ipp.pt/cursos/licenciatura/100001485" target="_blank"><img src="assets/images/partner/EscolaSuperiorDeSaude.png" alt=""></a></li>
                    <li><a href="http://www.fep.porto.ucp.pt/" target="_blank"><img src="assets/images/partner/FaculdadePsicologia.jpeg" alt=""></a></li>
                    <li><a href="https://www.paroquiadaajuda.org/" target="_blank"><img src="assets/images/partner/ParoquiaDaAjuda.png" alt=""></a></li>
                    <li><a href="https://www.serralves.pt/" target="_blank"><img src="assets/images/partner/serralves.jpg" alt=""></a></li>
                    <li><a href="http://www.aldoarfoznevogilde.pt/" target="_blank"><img src="assets/images/partner/UniaoDasFreguesiasAldoar.png" alt=""></a></li>
                    <li><a href="http://www.uf-lordeloouromassarelos.pt/" target="_blank"><img src="assets/images/partner/uniaofreg.jpg" alt=""></a></li>
                </ul>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>