<section id="partners" class="bg-gray xs-partner-section" style="background-image: url('assets/images/map.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="xs-partner-content">
                    <div class="xs-heading xs-mb-40">
                        <h2 class="xs-line-title">Com quem colaboramos?</h2>
                        <h2 class="xs-mb-0 xs-title">Nossos <span>parceiros</span></h2>
                    </div>
                    <p>Colaboramos com varias iniciativas e criamos parcerias que nos ajudem a oferecer mehlores condicoes e experiencias para os nossos utentes. As nossas parcerias com a <a href="https://www.casadamusica.com/">CASA DA MÚSICA</a>, a <a href="https://www.serralves.pt/en/">FUNDAÇÃO DE SERRALVES</a>, <a href="http://www.cm-porto.pt/rede-de-centros-de-educacao-ambiental">CEA da Pasteleira e Palácio</a> são plenas de sucesso e vividas com entusiasmo.</p>
                    <a href="#volunteer" class="btn btn-primary">
                        Junta-te a nós
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <ul class="fundpress-partners">
                    <li><a href="https://www.casadamusica.com/"><img src="assets/images/partner/casadamusica.png" alt=""></a></li>
                    <li><a href="https://www.serralves.pt/en/"><img src="assets/images/partner/serralves.jpg" alt=""></a></li>
                    <li><a href="http://www.cm-porto.pt/rede-de-centros-de-educacao-ambiental"><img src="assets/images/partner/cea.png" alt=""></a></li>
                </ul>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>