<section id="partners" class="xs-partner-section" style="background-image: url('assets/images/map.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="xs-partner-content">
                    <div class="xs-heading xs-mb-40">
                        <h2 class="xs-line-title">Com quem colaboramos?</h2>
                        <h2 class="xs-mb-0 xs-title">Os nossos <span>parceiros</span></h2>
                    </div>
                    <p>Colaboramos com várias iniciativas que nos ajudam a oferecer melhores condições e experiências para os nossos utentes. As nossas parcerias com a <a href="https://www.casadamusica.com/">CASA DA MÚSICA</a>, a <a href="https://www.serralves.pt/">FUNDAÇÃO DE SERRALVES</a>, a <a href="https://www.cupertino.pt/fundacao-cupertino-de-miranda/">FUNDAÇÃO CUPERTINO DE MIRANDA</a>, <a href="http://www.cm-porto.pt/rede-de-centros-de-educacao-ambiental">CEA da Pasteleira</a>,  
                        <a href="https://www.paroquiadaajuda.org/">Paróquia de Nossa Senhora da Ajuda</a>, Universidade Católica (<a href="http://www.udip.porto.ucp.pt/pt/caso/">CASO</a> e <a href="http://www.fep.porto.ucp.pt/">Faculdade de Psicologia</a>), 
                        <a href="https://www.ess.ipp.pt/cursos/licenciatura/100001485">Escola Superior de Saúde</a>, <a href="https://eptpporto.com/">Escola Profissional de tecnologia Psicossocial do Porto</a>, <a href="http://www.uf-lordeloouromassarelos.pt/">União das freguesias de Lordelo do Ouro e Massarelos</a>, <a href="http://www.aldoarfoznevogilde.pt/">União das freguesias de Aldoar, Foz do Douro e Nevogilde</a>, 
                        <a href="https://www.decsis.eu/">DECSIS – informática</a> e ADILO Cabeleireiro são plenas de sucesso e vividas com entusiasmo.</p>
                    <a href="/#joinus" class="btn btn-primary  xs-mb-60">
                        Junta-te a Nós
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <ul class="fundpress-partners">
                    <li><a href="https://www.casadamusica.com/"><img src="assets/images/partner/casadamusica.png" alt=""></a></li>
                    <li><a href="http://www.cm-porto.pt/rede-de-centros-de-educacao-ambiental"><img src="assets/images/partner/cea.png" alt=""></a></li>
                    <li><a href="https://www.cupertino.pt/fundacao-cupertino-de-miranda/"><img src="assets/images/partner/cupertinomiranda.jpg" alt=""></a></li>
                    <li><a href="https://www.decsis.eu/"><img src="assets/images/partner/decsis.png" alt=""></a></li>
                    <li><a href="https://eptpporto.com/"><img src="assets/images/partner/EscolaProfissional.jpg" alt=""></a></li>
                    <li><a href="https://www.ess.ipp.pt/cursos/licenciatura/100001485"><img src="assets/images/partner/EscolaSuperiorDeSaude.png" alt=""></a></li>
                    <li><a href="http://www.fep.porto.ucp.pt/"><img src="assets/images/partner/FaculdadePsicologia.jpeg" alt=""></a></li>
                    <li><a href="https://www.paroquiadaajuda.org/"><img src="assets/images/partner/ParoquiaDaAjuda.png" alt=""></a></li>
                    <li><a href="https://www.serralves.pt/"><img src="assets/images/partner/serralves.jpg" alt=""></a></li>
                    <li><a href="http://www.aldoarfoznevogilde.pt/"><img src="assets/images/partner/UniaoDasFreguesiasAldoar.png" alt=""></a></li>
                    <li><a href="http://www.uf-lordeloouromassarelos.pt/"><img src="assets/images/partner/uniaofreg.jpg" alt=""></a></li>
                </ul>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>