<section id="officialdocuments" class="xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <h2 class="xs-line-title">Documentos</h2>
                <h2 class="xs-title">Estatutos, regulamentos e contas</h2>
                <h3>Promover</h3>
                <p>Educação e cultura, formação profissional, apoio ocupacional, emprego, defesa dos direitos, integração e equilíbrio social e familiar, ocupação dos tempos livres.</p>
                <br>
                <h3>Oferecer</h3>
                <p>Actividades culturais, formativas, recreativas, desportivas e de lazer. </p>
            </div><!-- .xs-heading-title END -->
        </div><!-- .row end -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="xs-box-shadow xs-single-journal">
                    <div class="entry-header">
                        <div class="entry-meta">
                            <span class="date">
                                <a href="assets/pdf/Estatutos2Mar2015.pdf" target="_blank" rel="bookmark" class="entry-date">
                                    2 de Março 2015
                                </a>
                            </span>
                        </div>

                        <h4 class="entry-title">
                            <a href="assets/pdf/Estatutos2Mar2015.pdf" target="_blank">Estatutos da Somos Nós – Associação para a Autonomia e Integração de Jovens Deficientes</a>
                        </h4>
                    </div>
                </div><!-- .xs-from-journal END -->
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="xs-box-shadow xs-single-journal">
                    <div class="entry-header">
                        <div class="entry-meta">
                            <span class="date">
                                <a href="assets/pdf/RegInt3Dez2018.pdf" target="_blank" rel="bookmark" class="entry-date">
                                    3 de Dezembro 2018
                                </a>
                            </span>
                        </div>

                        <h4 class="entry-title">
                            <a href="assets/pdf/RegInt3Dez2018.pdf" target="_blank">Regulamento do CAO da Somos Nós - Regulamento Interno</a>
                        </h4>
                    </div>
                </div><!-- .xs-from-journal END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="xs-box-shadow xs-single-journal">
                    <div class="entry-header">
                        <div class="entry-meta">
                            <span class="date">
                                <a href="assets/pdf/DemRes2018.pdf" target="_blank" rel="bookmark" class="entry-date">
                                    31 de Dezembro de 2018
                                </a>
                            </span>
                        </div>

                        <h4 class="entry-title">
                            <a href="assets/pdf/DemRes2018.pdf" target="_blank">Demonstração de resultados de 2018</a>
                        </h4>
                    </div>
                </div><!-- .xs-from-journal END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="xs-box-shadow xs-single-journal">
                    <div class="entry-header">
                        <div class="entry-meta">
                            <span class="date">
                                <a href="assets/pdf/DemRes2019.pdf" target="_blank" rel="bookmark" class="entry-date">
                                    31 de Dezembro de 2019
                                </a>
                            </span>
                        </div>

                        <h4 class="entry-title">
                            <a href="assets/pdf/DemRes2019.pdf" target="_blank">Relatório de atividades e demonstração de resultados de 2019</a>
                        </h4>
                    </div>
                </div><!-- .xs-from-journal END -->
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="xs-box-shadow xs-single-journal">
                    <div class="entry-header">
                        <div class="entry-meta">
                            <span class="date">
                                <a href="assets/pdf/DemRes2020.pdf" target="_blank" rel="bookmark" class="entry-date">
                                    31 de Dezembro de 2020
                                </a>
                            </span>
                        </div>

                        <h4 class="entry-title">
                            <a href="assets/pdf/DemRes2020.pdf" target="_blank">Relatório de atividades e demonstração de resultados de 2020</a>
                        </h4>
                    </div>
                </div><!-- .xs-from-journal END -->
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>
