<footer id="contact" class="xs-footer-section">
    <div class="container">
        <div class="xs-footer-top-layer">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-widget xs-pr-20">
                    <h3 class="widget-title">Somos nós</h3>
                    <p>Associação para a Autonomia e Integração de Jovens Deficientes</p>
                    <ul class="xs-social-list-v2">
                        <li><a href="https://www.facebook.com/SomosNosIPSS/" class="color-facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul><!-- .xs-social-list END -->
                </div>
                <div class="col-lg-2 col-md-6 footer-widget">
                    <h3 class="widget-title">Navegação</h3>
                    <ul class="xs-footer-list">
                        <li><a href="/#whoweare">Quem somos</a></li>
                        <li><a href="/#activities">Actividades</a></li>
                        <li><a href="/#whereweare">Instalações</a></li>
                        <li><a href="/#testimonies">Testemunhos</a></li>
                        <li><a href="/#joinus">Adesão</a></li>
                        <li><a href="/#partners">Parceiros</a></li>
                        <li><a href="/#events">Eventos</a></li>
                        <li><a href="/#officialdocuments">Documentos</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-widget">
                    <h3 class="widget-title">Contactos</h3>
                    <ul class="xs-info-list">
                        <li><i class="fa fa-home"></i>Rua da Gazeta Literária 109 <br> 4150-787 Porto, Portugal</li>
                        <li><i class="fa fa-phone"></i>+351 966 419 450<br>+351 220	997	618</li>
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:somosnos@somosnos.pt" target="_blank">somosnos@somosnos.pt</a></li>
                    </ul><!-- .xs-list-with-icon END -->
                </div>
                <div class="col-lg-2 col-md-6 footer-widget">
                    <h3 class="widget-title">Mapa</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.196336106023!2d-8.663596284581512!3d41.152066979286516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246f0c9851f053%3A0xb5b65bb7e6668de3!2sSomos+N%C3%B3s!5e0!3m2!1sen!2suk!4v1561112242011!5m2!1sen!2suk" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <!-- .xs-list-with-icon END -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="xs-copyright">
            <div class="row">
                <div class="col-md-6">
                    <div class="xs-copyright-text">
                        <p>&copy; Copyright 2019 Somos Nós - Todos os direitos reservados</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <nav class="xs-footer-menu">
                        <ul>
                            <li><a href="mailto:somosnos@somosnos.pt"  target="_blank">Contacte-nos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="xs-back-to-top-wraper">
        <a href="#" class="xs-back-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>