<header class="xs-header header-transparent">
    <div id="navigation" class="header-container">
        <nav class="xs-menus">
            <div class="nav-header">
                <div class="nav-toggle"></div>
                <div class="row">
                <div class="xs-logo-wraper col-xs-1 hide-on-bigscreen">
                    <a href="index.html" class="nav-brand">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div>
                </div>
                
            </div><!-- .nav-header END -->
            <div class="nav-menus-wrapper row">
                <div class="xs-logo-wraper col-lg-1 xs-padding-0">
                    <a class="nav-brand" href="index.html">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div><!-- .xs-logo-wraper END -->
                <div class="col-lg-10">
                    <nav class="navigation" role="navigation">
                        <ul class="nav-menu">
                            <li><a href="/#whoweare">Quem somos</a></li>
                            <li><a href="/#whereweare">Instalações</a></li>
                            <li><a href="/#joinus">Adesão</a></li>
                            <li><a href="/#activities">Actividades</a></li>
                            <li><a href="/#partners">Parceiros</a></li>
                            <li><a href="/#officialdocuments">Documentos</a></li>
                            <li><a href="/#contact">Contactos</a></li>
                            <ul class="nav-submenu"></ul>
                        </ul><!-- .nav-menu END -->
                    </nav>
                </div>
                <div class="xs-navs-button d-flex-center-end col-lg-1 xs-padding-0">
                    <a href="#" class="nav-donate btn btn-primary donate">
                        <span class="badge"><i class="fa fa-heart"></i></span> DOAR
                    </a>
                </div><!-- .xs-navs-button END -->
            </div><!-- .nav-menus-wrapper .row END -->
        </nav><!-- .xs-menus .fundpress-menu END -->
    </div><!-- .container end -->
</header><!-- End header section -->