<section class="xs-welcome-slider">
    <div class="xs-banner-slider owl-carousel">
        <div class="xs-welcome-content" style="background-image: url(assets/images/slider/slider_1.jpg);">
            <div class="container">
                <div class="xs-welcome-wraper color-white">
                    <h2>SOMOS NÓS</h2>
                    <p>Associação para autonomia e integração de jovens deficientes</p>
                    <div class="xs-btn-wraper">
                        <a href="/#joinus" class="btn btn-outline-primary">
                            Junta-te à nós
                        </a>
                        <a href="#" class="btn btn-primary">
                            <span class="badge"><i class="fa fa-heart"></i></span> Doar
                        </a>
                    </div><!-- .xs-btn-wraper END -->
                </div><!-- .xs-welcome-wraper END -->
            </div><!-- .container end -->
            <div class="xs-black-overlay"></div>
        </div><!-- .xs-welcome-content END -->
        <div class="xs-welcome-content" style="background-image: url(assets/images/slider/slider_2.jpg);">
            <div class="container">
                <div class="xs-welcome-wraper color-white">
                    <h2>SOMOS NÓS</h2>
                    <p>Sensibiliza e co-responsabiliza a sociedade e o estado na resolução dos problemas dos cidadãos com deficiência e suas famílias</p>
                    <div class="xs-btn-wraper">
                        <a href="/#joinus" class="btn btn-outline-primary">
                            Junta-te à nós
                        </a>
                        <a href="#" class="btn btn-primary">
                            <span class="badge"><i class="fa fa-heart"></i></span> Doar
                        </a>
                    </div><!-- .xs-btn-wraper END -->
                </div><!-- .xs-welcome-wraper END -->
            </div><!-- .container end -->
            <div class="xs-black-overlay"></div>
        </div><!-- .xs-welcome-content END -->
        <div class="xs-welcome-content" style="background-image: url(assets/images/slider/slider_3.jpg);">
            <div class="container">
                <div class="xs-welcome-wraper color-white">
                    <h2>SOMOS NÓS</h2>
                    <p>Empreender e apoiar atividades que desenvolvem as capacidades e autoestima de cidadãos com deficiência mental</p>
                    <div class="xs-btn-wraper">
                        <a href="/#joinus" class="btn btn-outline-primary">
                                Junta-te à nós
                        </a>
                        <a href="#" class="btn btn-primary">
                                <span class="badge"><i class="fa fa-heart"></i></span> Doar
                        </a>
                    </div><!-- .xs-btn-wraper END -->
                </div><!-- .xs-welcome-wraper END -->
            </div><!-- .container end -->
            <div class="xs-black-overlay"></div>
        </div><!-- .xs-welcome-content END -->
    </div>
</section><!-- End welcome section -->