<section id="whoweare" class="waypoint-tigger xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="xs-archive-content">
                    <div class="xs-heading">
                        <h2 class="xs-line-title">Quem somos?</h2>
                        <h3 class="xs-title big" data-title="Amigos">SOMOS NÓS</h3>
                    </div>
                    <p>é uma IPSS / Instituição Particular de Solidariedade Social de natureza associativa, criada por iniciativa de pais e amigos de jovens adultos com dificuldades intelectuais e desenvolvimentais, que chegaram ao fim do período de vida escolar e necessitam de alternativas para a sua realização pessoal e profissional.</p>
                    <p>Sabemos que a sua realização pessoal passa pela interacção com a comunidade, não só usufruindo dos espaços de formação, cultura e lazer que esta lhes proporciona, mas também através da execução de atividades socialmente úteis a essa mesma comunidade, que estimulem as suas capacidades e auto-estima.</p>
                    <p>A Somos Nós começou por criar um Centro de Atividades e Capacitação para a Inclusão (CACI), que tem por objetivos:</p>
                    <ul class="xs-unorder-list arrow">
                        <li>promover a autonomia pessoal e social;</li>
                        <li>promover a autoestima e valorização pessoal, contribuindo para o seu bem-estar emocional e
                            social</li>
                        <li>possibilitar o acesso à comunidade, aos seus recursos e atividades, através de um
                            envolvimento e participação ativa</li>
                        <li>promover a inclusão social</li>
                        <li>proporcionar programas de inclusão socioprofissional através da realização de atividades
                            socialmente úteis (ASU’s)</li>
                        <li>contribuir para uma participação ativa das pessoas com deficiência e da sua família ou
                            representante legal na definição do seu projeto de vida</li>
                        <li>dinamizar ações de inclusão na comunidade, que promovam a alteração das representações,
                            dos valores e das atitudes da sociedade face às pessoas com deficiência</li>
                    </ul>
                    <p>Em agosto de 2023, iniciou-se a construção de seis residências autónomas no terreno vizinho do CACI, também ele cedido pela CMP. Será uma nova valência, que faz parte dos objetivos fundamentais da Somos Nós desde a fundação, assegurando desta forma o bem-estar desta população quando a retaguarda familiar deixar de existir. Esta situação acontece já com alguns dos nossos utentes, sendo manifesta a escassez de soluções adequadas.</p>
                    <p>As residências terão a capacidade de acolher um total de 30 pessoas com deficiência mental, repartidas em 6 casas, num ambiente familiar. Destinam-se a uma população que mantenha um grau de autonomia que permita o aproveitamento dos benefícios deste tipo de solução, nomeadamente a manutenção das rotinas de autonomia e sociabilidade, a realização de pequenas tarefas da vida diária na residência comum, sob vigilância e orientação técnica adequada.</p>
                    <p>O projeto das Residências Autónomas viu a sua candidatura para financiamento ser aprovada no quadro do Programa de Alargamento das Redes de Equipamentos Sociais 3.0, do Instituto da Segurança Social. O valor global deste projeto ronda €1.800.000, sendo que o PARES 3.0 comparticipará com €800.000. A Somos Nós deverá assumir o valor restante.</p>
                    <p>Contamos com o apoio e a generosidade da sociedade civil para tornar possível este projeto. Contamos com o seu apoio.</p>
                    <ul class="xs-funfact-list">
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="30"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Utentes</span>
                        </li>
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="7"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Técnicos</span>
                        </li>
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="20"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Voluntários</span>
                        </li>
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="18"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Atividades</span>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 row xs-archive-image">
                <div class="col-md-12">
                    <img src="assets/images/somos_1.jpg" alt="" class="rounded">
                </div>
                <div class="col-md-6">
                    <img src="assets/images/somos_2.jpg" alt="" class="rounded">
                </div>
                <div class="col-md-6">
                    <img src="assets/images/somos_3.jpg" alt="" class="rounded">
                </div>
                <div class="col-md-12">
                    <img src="assets/images/somos_4.jpg" alt="" class="rounded">
                </div>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>
