<section id="activities" class="bg-gray xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <h2 class="xs-line-title">O que fazemos?</h2>
                <h2 class="xs-title">As nossas Atividades</h2>
            </div><!-- .xs-heading-title END -->
        </div>

        <div class="row">

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/activity/Eu e o outro_2.jpg" alt=""> 
                        <div class="xs-entry-date">
                            <span class="entry-date-day">Oficina</span>
                            <span class="entry-date-month">Eu e os Outros</span>
                        </div><div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Oficina Eu e os Outros</a>
                        <p>Pretende-se que seja um espaço de auto e heteroconhecimento, com o objetivo de desenvolver competências sociais em contexto de grupo. Para isso, recorre-se a diferentes estratégias e metodologias, como visualização de vídeos, roleplays.</p>
                        <a href="#gallery-1" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-1" class="hidden">
                            <a href="assets/images/activity/Eu e o outro_2.jpg">Imagem 1</a>
                            <a href="assets/images/activity/Eu e o outro_3.jpg">Imagem 2</a>
                            <a href="assets/images/activity/Eu e o outro_4.jpg">Imagem 3</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/activity/Ler e Escrever_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">Ler</span>
                            <span class="entry-date-month">para incluir</span>
                        </div><div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Ler para incluir</a>
                        <p>Com base numa preparação prévia de histórias/contos/poemas, são trabalhadas as competências de leitura e interpretação, com o objetivo de utilizar a leitura como forma de interação e inclusão junto de outras populações de várias faixas etárias em diferentes contextos. </p>
                        <a href="#gallery-2" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-2" class="hidden">
                            <a href="assets/images/activity/Ler e Escrever_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/activity/Ler e Escrever_2.jpg">Imagem 2</a>
                            <a href="assets/images/activity/Ler e Escrever_3.jpg">Imagem 3</a>
                            <a href="assets/images/activity/Ler e Escrever_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->


            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/activity/Orientacao_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">Percurso</span>
                            <span class="entry-date-month">de orientação</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Percurso de orientação</a>
                        <p>Identificar regras de segurança na deslocação na via pública em deslocações a pé e diferentes transportes públicos, aprender a travessia de passadeiras com e sem semáforos, definir um percurso para determinado local e identificar locais de referência. A quem devo recorrer se estiver perdido? E se precisar de ajuda?
                            </p>
                        <a href="#gallery-3" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-3" class="hidden">
                            <a href="assets/images/activity/Orientacao_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/activity/Orientacao_2.jpg">Imagem 2</a>
                            <a href="assets/images/activity/Orientacao_3.jpg">Imagem 3</a>
                            <a href="assets/images/activity/Orientacao_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/activity/Piscina_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">Natação</span>
                            <span class="entry-date-month"></span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="">Natação</a>
                        <p>Esta atividade inicia-se no balneário com a preparação do equipamento apropriado, de forma autónoma. As competências motoras são as mais evidentes, contudo as componentes respiratórias, sensoriais e cognitivas também estão presentes. Pretende-se que também sejam capazes de identificar e realizar as diferentes técnicas de nado.  .</p>
                        <a href="#gallery-4" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-4" class="hidden">
                            <a href="assets/images/activity/Piscina_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/activity/Piscina_2.jpg">Imagem 2</a>
                            <a href="assets/images/activity/Piscina_3.jpg">Imagem 3</a>
                            <a href="assets/images/activity/Piscina_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->


            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/activity/Ginastica_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">Ginástica </span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Ginástica </a>
                            <p>Através de diferentes exercícios físicos, promove-se as competências motoras como o equilíbrio, a postura, a flexibilidade e a resistência. </p>
                            <a href="#gallery-5" class="btn btn-gallery">
                                Ver fotos
                            </a>
                            <div id="gallery-5" class="hidden">
                                <a href="assets/images/activity/Ginastica_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/activity/Ginastica_2.jpg">Imagem 2</a>
                                <a href="assets/images/activity/Ginastica_3.jpg">Imagem 3</a>
                                <a href="assets/images/activity/Ginastica_4.jpg">Imagem 4</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/activity/Valor de Moeda_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">Treino</span>
                                    <span class="entry-date-month">Treino do euro</span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Treino do euro</a>
                                <p>Reconhecer e identificar moedas e notas, determinar e colocar quantias, realizar transações monetárias em situações de role-play e no contexto real.</p>
                                <a href="#gallery-6" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-6" class="hidden">
                                <a href="assets/images/activity/Valor de Moeda_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/activity/Valor de Moeda_2.jpg">Imagem 2</a>
                                <a href="assets/images/activity/Valor de Moeda_3.jpg">Imagem 3</a>
                                <a href="assets/images/activity/Valor de Moeda_4.jpg">Imagem 4</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/activity/Multiartes_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">Multi</span>
                                    <span class="entry-date-month">Artes</span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Multiartes</a>
                                <p>Com diferentes materiais pretende-se explorar a criatividade e desenvolver a autonomia na produção de diversos trabalhos manuais. Assim, são desenvolvidas as funções cognitivas, motoras e é potenciada a valorização pessoal, através da exposição dos trabalhos produzidos.</p>
                                <a href="#gallery-7" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-7" class="hidden">
                                <a href="assets/images/activity/Multiartes_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/activity/Multiartes_2.jpg">Imagem 2</a>
                                <a href="assets/images/activity/Multiartes_3.jpg">Imagem 3</a>
                                <a href="assets/images/activity/Multiartes_4.jpg">Imagem 4</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

           <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/activity/Culinaria_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">Culinária</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Culinária</a>
                            <p>Tem como objetivo identificar e selecionar ingredientes e utensílios para uma determinada receita. A interpretação da receita passo-a-passo é fundamental para a sua concretização. Desde doces a salgados, pretende-se que sejam capazes de confecionar receitas simples para o seu dia a dia. E no final, é necessário concluir com a limpeza e o arrumo dos utensílios, para deixar a cozinha a brilhar. </p>
                                <a href="#gallery-8" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-8" class="hidden">
                                <a href="assets/images/activity/Culinaria_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/activity/Culinaria_2.jpg">Imagem 2</a>
                                <a href="assets/images/activity/Culinaria_3.jpg">Imagem 3</a>
                                <a href="assets/images/activity/Culinaria_4.jpg">Imagem 4</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                </div>
          </div><!-- .xs-single-event END -->

          <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/activity/Horta Pedagogica_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">Jardinagem</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Jardinagem</a>
                            <p>no CAO e Horta em Serralves – Através do contacto direto com diferentes plantas, os jovens/adultos podem identificá-las a partir da visão, do olfato, do tato e do paladar. Tem como objetivo o desenvolvimento das competências motoras, a melhoria da autoestima, o controlo da ansiedade e a redução do stress. </p>
                                <a href="#gallery-9" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-9" class="hidden">
                                <a href="assets/images/activity/Horta Pedagogica_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/activity/Horta Pedagogica_2.jpg">Imagem 2</a>
                                <a href="assets/images/activity/Horta Pedagogica_3.jpg">Imagem 3</a>
                                <a href="assets/images/activity/Horta Pedagogica_4.jpg">Imagem 4</a>
                            </div>
                    </div><!-- .xs-event-content END -->
                </div>
          </div><!-- .xs-single-event END -->

          <div class="col-lg-6 row xs-single-event">
            <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/activity/Outras Atividades_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">Atividades</span>
                            <span class="entry-date-month">Socialmente Úteis</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Atividades Socialmente Úteis</a>
                        <p>Integração nos serviços do CAO e em estruturas da comunidade para o desenvolvimento de tarefas específicas, que lhe permitem assumir um compromisso com responsabilidade e empenho. Pretendemos uma melhoria da autoestima, realização e valorização pessoal. Sem descurar a deslocação a pé e/ou de transportes públicos para o local, de forma gradualmente autónoma.</p>
                            <a href="#gallery-10" class="btn btn-gallery">
                                Ver fotos
                           </a>
                        <div id="gallery-10" class="hidden">
                            <a href="assets/images/activity/Outras Atividades_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/activity/Outras Atividades_2.jpg">Imagem 2</a>
                            <a href="assets/images/activity/Outras Atividades_3.jpg">Imagem 3</a>
                            <a href="assets/images/activity/Outras Atividades_4.jpg">Imagem 4</a>
                            <a href="assets/images/activity/Outras Atividades_5.jpg">Imagem 5</a>
                            <a href="assets/images/activity/Outras Atividades_6.jpg">Imagem 6</a>
                            <a href="assets/images/activity/Outras Atividades_7.png">Imagem 7</a>
                            <a href="assets/images/activity/Outras Atividades_8.png">Imagem 8</a>
                            <a href="assets/images/activity/Outras Atividades_9.png">Imagem 9</a>
                            <a href="assets/images/activity/Outras Atividades_10.png">Imagem 10</a>
                            <a href="assets/images/activity/Outras Atividades_11.jpg">Imagem 11</a>
                            <a href="assets/images/activity/Outras Atividades_12.jpg">Imagem 12</a>
                            <a href="assets/images/activity/Outras Atividades_13.jpg">Imagem 13</a>
                            <a href="assets/images/activity/Outras Atividades_14.jpg">Imagem 14</a>
                            <a href="assets/images/activity/Outras Atividades_15.jpg">Imagem 15</a>
                            <a href="assets/images/activity/Outras Atividades_16.jpg">Imagem 16</a>
                            <a href="assets/images/activity/Outras Atividades_17.jpg">Imagem 17</a>
                            <a href="assets/images/activity/Outras Atividades_18.jpg">Imagem 18</a>
                            <a href="assets/images/activity/Outras Atividades_19.jpg">Imagem 19</a>
                            <a href="assets/images/activity/Outras Atividades_20.jpg">Imagem 20</a>
                            <a href="assets/images/activity/Outras Atividades_21.jpg">Imagem 21</a>
                            <a href="assets/images/activity/Outras Atividades_22.jpg">Imagem 22</a>
                            <a href="assets/images/activity/Outras Atividades_23.jpg">Imagem 23</a>
                            <a href="assets/images/activity/Outras Atividades_24.jpg">Imagem 24</a>
                            <a href="assets/images/activity/Outras Atividades_26.jpg">Imagem 25</a>
                            <a href="assets/images/activity/Outras Atividades_27.jpg">Imagem 26</a>
                            <a href="assets/images/activity/Outras Atividades_29.jpg">Imagem 27</a>
                            <a href="assets/images/activity/Outras Atividades_30.jpg">Imagem 28</a>
                            <a href="assets/images/activity/Outras Atividades_32.jpg">Imagem 29</a>
                            <a href="assets/images/activity/Outras Atividades_33.jpg">Imagem 30</a>
                            <a href="assets/images/activity/Outras Atividades_34.jpg">Imagem 31</a>
                            <a href="assets/images/activity/Outras Atividades_35.jpg">Imagem 32</a>
                        </div>
                </div><!-- .xs-event-content END -->
            </div>
      </div><!-- .xs-single-event END -->
        </div>
    </div><!-- .container end -->
</section>