<section id="whereweare" class="bg-gray waypoint-tigger xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <div class="xs-archive-content">
                    <div class="xs-heading">
                        <h2 class="xs-line-title">Onde estamos?</h2>
                        <h3 class="xs-title">Instalaçōes</h3>
                    </div>
                <p>Conheca o nosso Centros de Atividades Ocupacionais (CAO) na cidade do Porto. </p>
                <!-- Slideshow container -->
                <h5>Construção do CAO</h5>
                <div class="w3-content w3-display-container" style="max-width:650px">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_1.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_2.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_3.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_4.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_5.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_6.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_5.png" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1.png" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_7.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_1_8.jpg" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_2.png" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_3.png" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_6.png" style="width:100%">
                    <img class="mySlides" src="assets/images/instalacoes/inst_8.png" style="width:100%">
                    <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(7)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(8)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(9)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(10)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(11)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(12)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(13)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(14)"></span>
                    </div>
                </div>
                <br />
                <h5>Novo CAO</h5>
                    {% include youtube.html url="https://www.youtube.com/embed/gpc6g7nSZJk" description="" %} 
                <br />
                <p>A construção destas instalações foi possível graças aos donativos de muitos amigos, instituições e particulares, alguns de forma anónima, todos de enorme generosidade.</p>
                <h5>Um agradecimento especial à <a href="https://www.ccdr-n.pt/">CCDRN</a>, <a href="http://www.cm-porto.pt/">Câmara Municipal do Porto</a>, <a href="https://www.fundacaoedp.pt/en/content/contacts">Fundação EDP</a>, <a href="http://www.fundacao-paodeacucar-auchan.pt/web/">Fundação Auchan</a> e <a href="https://rfm.sapo.pt/">RFM</a>.
                </h5>
            </div><!-- .xs-heading-title END -->
        </div><!-- .row end -->
    </div><!-- .container end -->

    
</section>