<section class="xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <h2 class="xs-line-title">O que os outros dizem de nós?</h2>
                <div class="xs-text-content xs-pr-20">
                    <h2 class="color-navy-blue">Testemunhos</h2>
                    <p>A Somos Nós é reconhecida como uma iniciativa que tem um papel fundamental na integração de jovens deficientes mentais na sociedade.</p>
                    <blockquote>
                            Associação 5 estrelas mesmo. Técnicos impecáveis, a ajudarem estes jovens a integrar na sociedade.
                    </blockquote>
                    <blockquote>
                            Uma associação de Amor verdadeiro e incondicional. Sim, de pais para filhos.
                    </blockquote>
                </div><!-- .xs-text-content END -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="xs-feature-image">
                    <img src="assets/images/Testemunha_1.jpg" alt="">
                </div><!-- .xs-feature-image END -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="xs-feature-image">
                    <img src="assets/images/Testemunha_2.jpg" alt="">
                </div><!-- .xs-feature-image END -->
            </div>
            <div class="col-md-12 col-lg-6">
                    <div class="xs-text-content xs-pr-20">
                            <h5>Nos media </h5>
                            <br>
                            <ul class="xs-unorder-list arrow">
                                <li><a href="http://www.presidencia.pt/?idc=10&idi=131095">Presidente da República visitou a Associação “Somos Nós”</a></li>
                                <li><a href="http://www.porto.pt/noticias/ipss-do-porto-inaugura-centro-de-atividades-ocupacionais-para-jovens-deficientes-mentais">IPSS do Porto inaugura CAO para jovens deficientes mentais</a></li>
                                <li><a href="http://www.porto.pt/noticias/associacao-somos-nos-vai-construir-residencias-em-terreno-cedido-pela-camara">Câmara do Porto cede terreno à Associação Somos Nós</a></li>
                                <li><a href="https://www.rtp.pt/noticias/pais/associacao-somos-nos-para-uma-plena-integracao_v175320">Associação "Somos Nós" para uma plena integração</a></li>
                            </ul>  
                    </div><!-- .xs-text-content END -->
                    <br>
                    <a href="/#joinus" class="btn btn-primary">
                            <span class="badge"><i class="fa fa-heart"></i></span> Junta-te a nós! 
                        </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="xs-feature-image">
                        <img src="assets/images/Visita CAO_1.png" alt="">
                    </div><!-- .xs-feature-image END -->
                </div>
                <br>
                <div class="col-md-6 col-lg-3">
                    <div class="xs-feature-image">
                        <img src="assets/images/Visita CAO_2.png" alt="">
                    </div><!-- .xs-feature-image END -->
                </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>