<section id="activities" class="bg-gray waypoint-tigger xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <h2 class="xs-line-title">O que fazemos?</h2>
                <h2 class="xs-title">Os nossos Eventos</h2>
            </div><!-- .xs-heading-title END -->
        </div>

        <div class="row">

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Culinaria_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2017</span>
                                    <span class="entry-date-month"></span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Presentes de Natal na Arca de Natal, iniciativa da CMP</a>
                                <p></p>
                                    <a href="#gallery-8" class="btn btn-gallery">
                                        Ver fotos
                                    </a>
                                <div id="gallery-8" class="hidden">
                                    <a href="assets/images/event/Culinaria_1_1.jpg">Imagem 1</a>
                                    <a href="assets/images/event/Culinaria_2.jpg">Imagem 2</a>
                                    <a href="assets/images/event/Culinaria_3.jpg">Imagem 3</a>
                                    <a href="assets/images/event/Culinaria_4.jpg">Imagem 4</a>
                                </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->
            
            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Valor de Moeda_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2016</span>
                                    <span class="entry-date-month"></span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Jantar concerto com Miguel Araújo na Escola de Hotelaria e Turismo do Porto</a>
                                <p></p>
                                <a href="#gallery-6" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-6" class="hidden">
                                <a href="assets/images/event/Valor de Moeda_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Valor de Moeda_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Valor de Moeda_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Valor de Moeda_4.jpg">Imagem 4</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Multiartes_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2015</span>
                                    <span class="entry-date-month"></span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Presentes de Natal no Jumbo de Matosinhos</a>
                                <p></p>
                                <a href="#gallery-7" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-7" class="hidden">
                                <a href="assets/images/event/Multiartes_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Multiartes_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Multiartes_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Multiartes_4.jpg">Imagem 4</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Ginastica_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2015</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Venda solidária, bazar, leilão</a>
                            <p></p>
                            <a href="#gallery-5" class="btn btn-gallery">
                                Ver fotos
                            </a>
                            <div id="gallery-5" class="hidden">
                                <a href="assets/images/event/Ginastica_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Ginastica_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Ginastica_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Ginastica_4.jpg">Imagem 4</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Piscina_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2010</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="">Concerto Os Azeitonas</a>
                            <p></p>
                            <a href="#gallery-4" class="btn btn-gallery">
                                Ver fotos
                            </a>
                            <div id="gallery-4" class="hidden">
                                <a href="assets/images/event/Piscina_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Piscina_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Piscina_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Piscina_4.jpg">Imagem 4</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Orientacao_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2009</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Dia Internacional dos museus</a>
                            <p></p>
                            <a href="#gallery-3" class="btn btn-gallery">
                                Ver fotos
                            </a>
                            <div id="gallery-3" class="hidden">
                                <a href="assets/images/event/Orientacao_1_1.jpg">Imagem 1</a>
                                <a href="assets/images/event/Orientacao_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/Orientacao_3.jpg">Imagem 3</a>
                                <a href="assets/images/event/Orientacao_4.jpg">Imagem 4</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Ler e Escrever_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2008</span>
                            <span class="entry-date-month"></span>
                        </div><div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Concerto Corleone Big Band</a>
                        <p></p>
                        <a href="#gallery-2" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-2" class="hidden">
                            <a href="assets/images/event/Ler e Escrever_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/event/Ler e Escrever_2.jpg">Imagem 2</a>
                            <a href="assets/images/event/Ler e Escrever_3.jpg">Imagem 3</a>
                            <a href="assets/images/event/Ler e Escrever_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Eu e o outro_1.jpg" alt=""> 
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2007</span>
                            <span class="entry-date-month"></span>
                        </div><div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Exposição, venda, leilão de obras de arte.</a>
                        <p></p>
                        <a href="#gallery-1" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-1" class="hidden">
                            <a href="assets/images/event/Eu e o outro_1_1.jpg">Imagem 1</a>
                            <a href="assets/images/event/Eu e o outro_2.jpg">Imagem 2</a>
                            <a href="assets/images/event/Eu e o outro_3.jpg">Imagem 3</a>
                            <a href="assets/images/event/Eu e o outro_4.jpg">Imagem 4</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->         
        </div>
    </div><!-- .container end -->
</section>