<section id="events" class="bg-gray waypoint-tigger xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <h2 class="xs-line-title">O que fazemos?</h2>
                <h2 class="xs-title">Os nossos Eventos</h2>
            </div><!-- .xs-heading-title END -->
            <p>A SOMOS NÓS tem promovido eventos para angariar fundos e divulgar a associação. Estes eventos, que têm contado com a adesão e interesse do público, foram possíveis através da colaboração e ofertas de artistas de várias áreas, personalidades da nossa sociedade, empresas e instituições, a comunidade educativa... e os "nossos" jovens... <br> Obrigado a todos!</p>
        </div>
        <div class="row">

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/arca_de_natal_2017_small.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2017</span>
                                    <span class="entry-date-month"></span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Presentes de Natal na Arca de Natal, iniciativa da CMP</a>
                                <p></p>
                                    <a href="#gallery-8" class="btn btn-gallery">
                                        Ver fotos
                                    </a>
                                <div id="gallery-8" class="hidden">
                                    <a href="assets/images/event/arca_de_natal_2017.jpg">Imagem 1</a>
                                    <a href="assets/images/event/arca_de_natal_2017_2.jpg">Imagem 2</a>
                                    <a href="assets/images/event/arca_de_natal_2017_3.jpg">Imagem 3</a>
                                    <a href="assets/images/event/arca_de_natal_2017_4.jpg">Imagem 4</a>
                                </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->
            
            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/concerto_miguelaraujo_2016_small.png" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2016</span>
                                    <span class="entry-date-month"></span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Jantar concerto com Miguel Araújo na Escola de Hotelaria e Turismo do Porto</a>
                                <p></p>
                                <a href="#gallery-6" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-6" class="hidden">
                                <a href="assets/images/event/concerto_miguelaraujo_2016.png">Imagem 1</a>
                                <a href="assets/images/event/concerto_miguelaraujo_2016_2.jpg">Imagem 2</a>
                                <a href="assets/images/event/concerto_miguelaraujo_2016_3.jpg">Imagem 3</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/presentes_natal_jumbo_2015_small.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2015</span>
                                    <span class="entry-date-month"></span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Presentes de Natal no Jumbo de Matosinhos</a>
                                <p></p>
                                <a href="#gallery-7" class="btn btn-gallery">
                                    Ver fotos
                               </a>
                            <div id="gallery-7" class="hidden">
                                <a href="assets/images/event/presentes_natal_jumbo_2015.jpg">Imagem 1</a>
                                <a href="assets/images/event/presentes_natal_jumbo_2015_2.jpg">Imagem 2</a>
                            </div>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/venda_2015_1_small.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2015</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Venda solidária, bazar, leilão</a>
                            <p></p>
                            <a href="#gallery-5" class="btn btn-gallery">
                                Ver fotos
                            </a>
                            <div id="gallery-5" class="hidden">
                                <a href="assets/images/event/venda_2015_1.jpg">Imagem 1</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/concerto_azeitonas_2010_small.png" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2010</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="">Concerto Os Azeitonas</a>
                            <p></p>
                            <a href="#gallery-4" class="btn btn-gallery">
                                Ver fotos
                            </a>
                            <div id="gallery-4" class="hidden">
                                <a href="assets/images/event/concerto_azeitonas_2010.png">Imagem 1</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/museu_2009_small.png" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2009</span>
                                <span class="entry-date-month"></span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Dia Internacional dos museus</a>
                            <p></p>
                            <a href="#gallery-3" class="btn btn-gallery">
                                Ver fotos
                            </a>
                            <div id="gallery-3" class="hidden">
                                <a href="assets/images/event/museu_2009.png">Imagem 1</a>
                            </div>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/concerto_corleone_2008_small.png" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2008</span>
                            <span class="entry-date-month"></span>
                        </div><div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Concerto Corleone Big Band</a>
                        <p></p>
                        <a href="#gallery-2" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-2" class="hidden">
                            <a href="assets/images/event/concerto_corleone_2008.png">Imagem 1</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->

            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/venda_2007_small.jpg" alt=""> 
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2007</span>
                            <span class="entry-date-month"></span>
                        </div><div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Exposição, venda, leilão de obras de arte.</a>
                        <p></p>
                        <a href="#gallery-1" class="btn btn-gallery">
                            Ver fotos
                        </a>
                        <div id="gallery-1" class="hidden">
                            <a href="assets/images/event/venda_2007.jpg">Imagem 1</a>
                            <a href="assets/images/event/venda_2007_2.jpg">Imagem 2</a>
                        </div>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->         
        </div>
    </div><!-- .container end -->
</section>