<section class="xs-section-padding">
    <div class="container">
        <div class="xs-heading xs-mb-70 text-center">
            <h2 class="xs-mb-0 xs-title">Potenciamos a <span>Autonomia e Integração</span> de Jovens Deficientes</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="xs-service-promo">
                    <span class="icon-open-book"></span>
                    <h5>Apoio à formação</h5>
                    <p>Organização de um conjunto de atividades feitas para adquirir conhecimento prático e teórico <br>(e.g. workshops lúdicos e culturais, passeios, visitas de estudo).</p>
                </div><!-- .xs-service-promo END -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="xs-service-promo">
                    <span class="icon-briefcase2"></span>
                    <h5>Apoio à ocupação<br></h5>
                    <p>Criação de ateliers ocupacionais incluindo a execução de tarefas em ambiente externo onde possam adquirir competências profissionais, autonomia funcional e autoconfiança.</p>
                </div><!-- .xs-service-promo END -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="xs-service-promo">
                    <span class="icon-heartbeat"></span>
                    <h5>Apoio à integração</h5>
                    <p>Incentivamos a integração de utentes na comunidade envolvente através de iniciativas que permitem ter um papel ativo na sociedade (e.g. planos individuais, promoção dos direitos e capacidade de decisão).</p>
                </div><!-- .xs-service-promo END -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="xs-service-promo">
                    <span class="icon-water"></span>
                    <h5>Apoio à realização pessoal</h5>
                    <p>Propomos criar e manter actividades que ajudem realizar os objectivos dos utentes (e.g. serviços sócio-psico-pedagógicos, infra-estruturas de apoio - residências autónomas).</p>
                </div><!-- .xs-service-promo END -->
            </div>
    </div><!-- .container end -->
</section>