<section id="about" class="waypoint-tigger xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="xs-archive-content">
                    <div class="xs-heading">
                        <h2 class="xs-line-title">Quem Somos?</h2>
                        <h3 class="xs-title big" data-title="Amigos">SOMOS NÓS</h3>
                    </div>
                    <p>é uma IPSS (Instituição Particular de Solidariedade Social) de natureza associativa, criada por iniciativa de pais e amigos de jovens adultos 'menos eficientes', que chegaram ao fim do período de vida escolar e necessitam de alternativas para a sua realização pessoal e profissional.</p>
                    <h5>Propomos a estes jovens, a continuação do desenvolvimento da sua autonomia nas suas diversas vertentes, nomeadamente de: </h5>
                    <ul class="xs-unorder-list arrow">
                        <li>convivência,</li>
                        <li>sociabilização,</li>
                        <li>actividades funcionais e</li>
                        <li>integração na comunidade.</li>
                    </ul>
                    <p> Sabemos que a sua realização pessoal passa pela interacção com a comunidade, não só usufruindo dos espaços de formação, cultura e lazer que esta lhes proporciona, mas também através da execução de tarefas úteis a essa mesma comunidade, que estimulem as suas capacidades e auto-estima.</p>
                    <ul class="xs-funfact-list">
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="30"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Utentes</span>
                        </li>
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="10"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Professores</span>
                        </li>
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="30"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Voluntários</span>
                        </li>
                        <li>
                            <p>
                                <span class="number-percentage-count number-percentage" data-value="90"
                                    data-animation-duration="3500">0</span><sup> + </sup>
                            </p>
                            <span>Atividades</span>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 row xs-archive-image">
                <div class="col-md-12 xs-mb-30">
                    <img src="assets/images/quem_somos_1.jpg" alt="" class="rounded">
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="assets/images/quem_somos_2.jpg" alt="" class="rounded">
                </div>
                <div class="col-md-6 col-sm-6">
                    <img src="assets/images/quem_somos_3.jpg" alt="" class="rounded">
                </div>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>