<section class="xs-feature-box-fulid">
    <div class="container-fulid">
        <div class="row xs-feature-box-wraper">
            <div class="col-md-12 col-lg-4 xs-feature-box">
                <div class="xs-feature-box-content">
                    <h3 class="color-white">Queres ajudas? Torna-te o nosso voluntário.</h3>
                    <a href="#" class="btn btn-secondary btn-color-alt">
                       Registo
                    </a>
                </div><!-- .xs-feature-box-content END -->
            </div>
            <div class="col-md-12 col-lg-4 xs-feature-box highlight">
                <div class="xs-feature-box-content">
                    <h3 class="color-white">Ajuda-nos a atingir a nossa missão</h3>
                    <p>Suporta a nossa iniciativa e projetos desenvolvidos atraves de adesões diferentes atraves de doaçōes ou tornar-te o nosso sócio.</p>
                    <a href="#" class="btn btn-secondary btn-color-alt">
                        Quero contribuir
                    </a>
                </div> <!-- .xs-feature-box-content end -->
            </div><!-- .xs-feature-box .highlight END -->
            <div class="col-md-12 col-lg-4 xs-feature-box">
                <div class="xs-feature-box-content">
                    <h3 class="color-white">Siga-nos nas redes sociais</h3>
                    <ul class="xs-social-list">
                        <li><a href="https://www.facebook.com/SomosNosIPSS/"><i class="fa fa-facebook"></i></a></li>
                    </ul><!-- .xs-social-list END -->
                </div><!-- .xs-feature-box-content END -->
            </div><!-- .xs-feature-box END -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>