<section class="xs-feature-box-fulid">
    <div class="container-fulid">
        <div class="row xs-feature-box-wraper">
            <div class="col-md-12 col-lg-4 xs-feature-box">
                <div class="xs-feature-box-content">
                    <h3 class="color-white">But we’re not done yet. We need your.</h3>
                    <a href="#" class="btn btn-secondary btn-color-alt">
                        get involved
                    </a>
                </div><!-- .xs-feature-box-content END -->
            </div>
            <div class="col-md-12 col-lg-4 xs-feature-box highlight">
                <div class="xs-feature-box-content">
                    <h3 class="color-white">Sponsor an entire trending project</h3>
                    <p>For $10,000 or more you can fully fund a water project for a Community. 100% funds clean
                        water projects. 663 million people drink.</p>
                    <a href="#" class="btn btn-secondary btn-color-alt">
                        Become an Sponsor
                    </a>
                </div> <!-- .xs-feature-box-content end -->
            </div><!-- .xs-feature-box .highlight END -->
            <div class="col-md-12 col-lg-4 xs-feature-box">
                <div class="xs-feature-box-content">
                    <h3 class="color-white">Connect with us on social media</h3>
                    <ul class="xs-social-list">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    </ul><!-- .xs-social-list END -->
                </div><!-- .xs-feature-box-content END -->
            </div><!-- .xs-feature-box END -->
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>