<section id="events" class="xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <h2 class="xs-title">Nossas Atividades</h2>
                <span class="xs-separetor dashed"></span>
                <p>Actividades do CAO (Centro de Actividades Ocupacionais) na Pasteleira</p>
            </div><!-- .xs-heading-title END -->
        </div>
        <div class="row">
            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Eu e o outro_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2018</span>
                            <span class="entry-date-month">jan</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Eu e o Outro</a>
                        <a href="#" class="btn btn-primary">
                            Learn More
                        </a>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->
            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Ler e Escrever_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2018</span>
                            <span class="entry-date-month">jan</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Ler e Escrever</a>
                        <a href="#" class="btn btn-primary">
                            Learn More
                        </a>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->
            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Orientacao_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2018</span>
                            <span class="entry-date-month">jan</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="#">Orientação</a>
                        <a href="#" class="btn btn-primary">
                            Learn More
                        </a>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->
            <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                    <div class="xs-event-image">
                        <img src="assets/images/event/Piscina_1.jpg" alt="">
                        <div class="xs-entry-date">
                            <span class="entry-date-day">2018</span>
                            <span class="entry-date-month">jun</span>
                        </div>
                        <div class="xs-black-overlay"></div>
                    </div><!-- .xs-event-image END -->
                </div>
                <div class="col-md-7">
                    <div class="xs-event-content">
                        <a href="">Piscina</a>
                        <p>In a time of overwhelming emotions, sadness, and pain, obligations.</p>
                        <a href="#" class="btn btn-primary">
                            Learn More
                        </a>
                    </div><!-- .xs-event-content END -->
                </div>
            </div><!-- .xs-single-event END -->
            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Ginastica_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2018</span>
                                <span class="entry-date-month">nov</span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Ginástica</a>
                            <a href="#" class="btn btn-primary">
                                Learn More
                            </a>
                        </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->
            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Valor de Moeda_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2018</span>
                                    <span class="entry-date-month">jan</span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Valor de Moeda</a>
                                <a href="#" class="btn btn-primary">
                                    Learn More
                                </a>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->
            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Multiartes_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2018</span>
                                    <span class="entry-date-month">ago</span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Multiartes</a>
                                <a href="#" class="btn btn-primary">
                                    Learn More
                                </a>
                            </div><!-- .xs-event-content END -->
                    </div>
            </div><!-- .xs-single-event END -->
            <div class="col-lg-6 row xs-single-event">
                    <div class="col-md-5">
                            <div class="xs-event-image">
                                <img src="assets/images/event/Multiartes_1.jpg" alt="">
                                <div class="xs-entry-date">
                                    <span class="entry-date-day">2018</span>
                                    <span class="entry-date-month">ago</span>
                                </div>
                                <div class="xs-black-overlay"></div>
                            </div><!-- .xs-event-image END -->
                        </div>
                        <div class="col-md-7">
                            <div class="xs-event-content">
                                <a href="#">Multiartes</a>
                                <a href="#" class="btn btn-primary">
                                    Learn More
                                </a>
                            </div><!-- .xs-event-content END -->
                    </div>
           </div><!-- .xs-single-event END -->
           <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Culinaria_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2018</span>
                                <span class="entry-date-month">ago</span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Culinária</a>
                            <a href="#" class="btn btn-primary">
                                Learn More
                            </a>
                        </div><!-- .xs-event-content END -->
                </div>
          </div><!-- .xs-single-event END -->
          <div class="col-lg-6 row xs-single-event">
                <div class="col-md-5">
                        <div class="xs-event-image">
                            <img src="assets/images/event/Horta Pedagogica_1.jpg" alt="">
                            <div class="xs-entry-date">
                                <span class="entry-date-day">2018</span>
                                <span class="entry-date-month">mai</span>
                            </div>
                            <div class="xs-black-overlay"></div>
                        </div><!-- .xs-event-image END -->
                    </div>
                    <div class="col-md-7">
                        <div class="xs-event-content">
                            <a href="#">Horta Pedagógica</a>
                            <a href="#" class="btn btn-primary">
                                Learn More
                            </a>
                        </div><!-- .xs-event-content END -->
                </div>
         </div><!-- .xs-single-event END -->
         <div>
             <p>Dentro das actividades realizadas de destacar também as parcerias com a CASA DA MÚSICA, a FUNDAÇÃO DE SERRALVES, CEA da Pasteleira e Palácio, plenas de sucesso e vividas com entusiasmo.</p>
             <div class="col-md-12 col-lg-6 row xs-archive-image">
                    <div class="col-md-6 col-sm-6">
                        <img src="assets/images/event/Outras Atividades_6.jpg" alt="" class="rounded">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="assets/images/event/Outras Atividades_5.jpg" alt="" class="rounded">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="assets/images/event/Outras Atividades_4.jpg" alt="" class="rounded">
                        </div>
                    <div class="col-md-6 col-sm-6">
                         <img src="assets/images/event/Outras Atividades_3.jpg" alt="" class="rounded">
                   </div>
                   <div class="col-md-6 col-sm-6">
                        <img src="assets/images/event/Outras Atividades_2.jpg" alt="" class="rounded">
                        </div>
                    <div class="col-md-6 col-sm-6">
                         <img src="assets/images/event/Outras Atividades_1.jpg" alt="" class="rounded">
                   </div>
                </div>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>