<footer id="contact" class="xs-footer-section">
    <div class="container">
        <div class="xs-footer-top-layer">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-widget xs-pr-20">
                    <a href="index.html" class="xs-footer-logo">
                        <img src="assets/images/footer_somosnos_logo.png" alt="">
                    </a>
                    <p>Somos Nós – Associação para a Autonomia e Integração de Jovens Deficientes, IPSS</p>
                    <ul class="xs-social-list-v2">
                        <li><a href="" class="color-facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul><!-- .xs-social-list END -->
                </div>
                <div class="col-lg-2 col-md-6 footer-widget">
                    <h3 class="widget-title">About Us</h3>
                    <ul class="xs-footer-list">
                        <li><a href="#about">Quem somos</a></li>
                        <li><a href="#causes">Instalações</a></li>
                        <li><a href="#events">Actividades</a></li>
                        <li><a href="#">Adesão</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Estatutos</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-widget">
                    <h3 class="widget-title">Contactos</h3>
                    <ul class="xs-info-list">
                        <li><i class="fa fa-home"></i>Rua da Gazeta Literária 109, 4150-787 Porto, Portugal</li>
                        <li><i class="fa fa-phone"></i>966 419 450</li>
                        <li><i class="fa fa-envelope-o"></i><a href="mailto:yourname@domain.com">somosnos@somosnos.ptm</a>
                        </li>
                    </ul><!-- .xs-list-with-icon END -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="xs-copyright">
            <div class="row">
                <div class="col-md-6">
                    <div class="xs-copyright-text">
                        <p>&copy; Copyright 2019 Somos Nós - All
                            Right's Reserved</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <nav class="xs-footer-menu">
                        <ul>
                            <li><a href="#">Help Desk</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="xs-back-to-top-wraper">
        <a href="#" class="xs-back-to-top"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>