<section id="causes" class="bg-gray waypoint-tigger xs-section-padding">
    <div class="container">
        <div class="xs-heading row xs-mb-60">
            <div class="col-md-9 col-xl-9">
                <div class="xs-archive-content">
                    <div class="xs-heading">
                        <h2 class="xs-line-title">Onde estamos?</h2>
                        <h3 class="xs-title">Instalaçōes</h3>
                    </div>
                <span class="xs-separetor dashed"></span>
                <p>Conheca o nosso Centros de Atividades Ocupacionais na cidade do Porto. </p>
            </div><!-- .xs-heading-title END -->

            </div class= "galleryGeneral">
                </div class= "galleryContainer">
                <div>
            <div>




            <div class="gallery">
                <a href="assets/images/instalacoes/Instalacoes_1.png"><img src="assets/images/instalacoes/Instalacoes_1 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_2.png"><img src="assets/images/instalacoes/Instalacoes_2 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_3.png"><img src="assets/images/instalacoes/Instalacoes_3 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_4.png"><img src="assets/images/instalacoes/Instalacoes_8 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_5.png"><img src="assets/images/instalacoes/Instalacoes_5 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_6.png"><img src="assets/images/instalacoes/Instalacoes_6 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_7.png"><img src="assets/images/instalacoes/Instalacoes_7 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_8.png"><img src="assets/images/instalacoes/Instalacoes_4 copy.png" alt="" class="rounded"></a>
                <a href="assets/images/instalacoes/Instalacoes_9.png"><img src="assets/images/instalacoes/Instalacoes_9 copy.png" alt="" class="rounded"></a>   
            </div>
            <div>
                <iframe width="420" height="315" src="https://www.youtube.com/embed/gpc6g7nSZJk">
                </iframe>""
            </div>






        </div><!-- .row end -->
    </div><!-- .container end -->
</section>