<section class="xs-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="xs-text-content xs-pr-20">
                    <h2 class="color-navy-blue">Welcome to CharityPress please rise your hand</h2>
                    <p>The CharityPress community was named a “Top 25 Best Global Philanthropist” by Barron’s. We
                        beat Oprah. And, Mashable named CharityPress something like “the best place to raise money
                        online for your favorite causes.”</p>
                    <blockquote>
                        If you don't understand how fast and easy it is to so long for your favorite charity on
                        FundPress, please try it. <span>How it works</span> page, <span>Contact us</span>.
                    </blockquote>
                    <a href="#" class="btn btn-primary">
                        <span class="badge"><i class="fa fa-heart"></i></span> Donate Now
                    </a>
                </div><!-- .xs-text-content END -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="xs-feature-image">
                    <img src="assets/images/features_1.jpg" alt="">
                </div><!-- .xs-feature-image END -->
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="xs-feature-image">
                    <img src="assets/images/features_2.jpg" alt="">
                </div><!-- .xs-feature-image END -->
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>