<section class="parallax-window xs-become-a-volunteer xs-section-padding"
    style="background-image: url('assets/images/backgrounds/volunteer-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-7">
                <div class="xs-volunteer-form-wraper bg-aqua">
                    <h2>Become a Volunteer</h2>
                    <p>It only takes a minute to set up a campaign. Decide what to do. Pick a name. Pick a photo.
                        And just like that, you’ll be ready to start raising money.</p>
                    <form action="#" method="POST" id="volunteer-form" class="xs-volunteer-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" id="volunteer_name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="email" id="volunteer_email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="col-lg-6">
                                <select name="branch" class="form-control" id="volunteer_brach">
                                    <option value="">Select</option>
                                    <option value="">Branch</option>
                                    <option value="">New york</option>
                                    <option value="">washington</option>
                                </select>
                            </div>
                            <div class="col-lg-6 xs-mb-20">
                                <div class="xs-fileContainer">
                                    <input type="file" id="volunteer_cv" class="form-control" name="file">
                                    <label for="volunteer_cv">Upload Your CV</label>
                                </div>
                            </div>
                        </div><!-- .row end -->
                        <textarea name="massage" id="massage" placeholder="Enter your massage" cols="30"
                            class="form-control" rows="10"></textarea>
                        <button type="submit" class="btn btn-secondary btn-color-alt">apply now</button>
                    </form><!-- #volunteer-form .xs-volunteer-form END -->
                </div>
            </div>
        </div><!-- .row end -->
    </div><!-- .container end -->
</section>