<!-- Head Section -->
{% include 0_head.html title=page.title  %}

<body>
    <!-- Preloader and Browser Check Section -->
    {% include 1_preloader.html %}

    <!-- Header Section -->
    {% include 2_header.html %}

    <!-- Welcome Slider section -->
    {% include 3_welcome_slider.html %}

    <!-- Who We Are section -->
    {% include 4_who_we_are.html %}

    <!-- Where We Are section -->
    {% include 5_where_we_are.html %}

    <!-- What They Say About Us section -->
    {% include 6_what_they_say_about_us.html %}

    <!-- Call To Action section -->
    {% include 7_call_to_action.html %}

    <!-- What We Do section -->
    {% include 8_what_we_do.html %}

    <!-- Join Us section -->
    {% include 9_join_us.html %}

    <!-- Activities section -->
    {% include 10_activities.html %}

    <!-- Partners section -->
    {% include 11_partners.html %}

    <!-- Official Documents section -->
    {% include 12_official_documents.html %}

    <div class="content-margin">
        {{ content }}
    </div>

    <!-- Footer Section -->
    {% include 13_footer.html %}

    <!-- Scripts Section -->
    {% include 14_scripts.html %}
</body>
</html>