<!-- Head Section -->
{% include head.html title=page.title  %}

<body>
    <!-- Preloader and Browser Check Section -->
    {% include preloader.html %}

    <!-- Header Section -->
    {% include header.html %}

    <!-- Welcome Slider section -->
    {% include welcome_slider.html %}

    <!-- Achievements section -->
    {% include achievements.html %}

    <!-- Fundraisers section -->
    {% include fundraisers.html %}

    <!-- Text with image section -->
    {% include text_image.html %}

    <!-- Text ribbon section -->
    {% include text_ribbon.html %}

    <!-- call_to_action section -->
    {% include call_to_action.html %}

    <!-- Features section -->
    {% include features.html %}

    <!-- Volunteer section -->
    {% include volunteer.html %}

    <!-- Events section -->
    {% include events.html %}

    <!-- Partners section -->
    {% include partners.html %}

    <!-- Journal section -->
    {% include journal.html %}

    <div class="content-margin">
        {{ content }}
    </div>

    <!-- Footer Section -->
    {% include footer.html %}
    <!-- Footer Section -->

    <!-- Scripts Section -->
    {% include scripts.html %}
    <!-- Scripts Section -->
</body>

</html>